<div class="course-details-container" style="background-color: #001f3f; padding: 20px; text-align: center;">
  <h2 class="course-title">{{ course?.title }}</h2>
  <p class="course-description">{{ course?.description }}</p>

  <h3 class="lesson-list-title">lessons list:</h3>
  <mat-accordion>
    @for(lesson of lessons; track lesson.id){
      <mat-expansion-panel>
          <mat-expansion-panel-header class="father">
              <mat-panel-title class="lesson-title" style="font-family: Arial, Helvetica, sans-serif;">{{ lesson.title }}</mat-panel-title>
              <mat-panel-description>
                  <button mat-icon-button>
                  </button>
              </mat-panel-description>
          </mat-expansion-panel-header>
              <p class="lesson-content" style="font-family: Arial, Helvetica, sans-serif;">{{ lesson?.content }}</p>
      </mat-expansion-panel>
      }
  </mat-accordion>
</div>